:root {
    --primary-color: #3498db;
    --secundary-color: #2ecc71;
    --background-color: #ecf0f1;
    --Text-color: #34495e;
    --card-backgrrond: #ffffff;
    --shadow-color: rgba(0, 0, 0, 0.1);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    background-color: var(--background-color);
    color: var(--Text-color);
    padding: 20px;
}

.conteiner {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

h1 {
    text-align: center;
    color: var(--primary-color);
    font-size: 2.5em;
    margin-bottom: 30px;
}

form {
    display: flex;
    gap: 15px;
    margin-bottom: 30px;
    flex-wrap: wrap; /* Permite que o formulário seja responsivo */
    justify-content: center; /* Centraliza os itens do formulário */
}

/* Barra de pesquisa */
.product-input {
    flex-grow: 1;
    padding: 10px;
    font-size: 16px;
    border: 2px solid var(--primary-color);
    border-radius: 25px;
    outline: none;
    min-width: 200px;
}

.product-input:focus {
    box-shadow: 0 0 5px var(--primary-color);
}

/* Botão de pesquisa */
button {
    padding: 12px 25px;
    background-color: var(--primary-color);
    border: none;
    cursor: pointer;
    color: var(--background-color);
    font-size: 16px;
    border-radius: 25px;
    transition: 0.5s;
    min-width: 150px;
}

button:hover {
    background-color: #2980b9;
}

.product-list {
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    margin-top: 30px;
}

.product-card {
    background-color: var(--card-backgrrond);
    border-radius: 10px;
    box-shadow: 0 4px 6px var(--shadow-color);
    text-align: center;
    padding: 20px;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px var(--shadow-color);
}

.product-card img {
    max-width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 8px;
}

.product-card h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: var(--primary-color);
}

.product-card .product-store {
    color: var(--Text-color);
    margin-bottom: 5px;
}

.product-card .product-price {
    color: var(--secundary-color);
    font-weight: bold;
    margin-bottom: 5px;
}

.Price-chart {
    margin-top: 65px;
    width: 100%;
    height: 400px; 
}

.product-link {
    color: #05253a;
    font-size: 1.2rem;
    text-decoration: none;
}

.product-link:hover{
    color: #2980b9;
}



/* Media Queries */
@media (max-width: 768px) {
    /* Quando a tela for menor que 768px (mobile e tablets), o botão e a barra de pesquisa ficam lado a lado */
    form {
        flex-direction: row;  
        gap: 10px;  
    }

    .product-input {
        min-width: 0; 
    }

    button {
        min-width: 0;
    }

    h1 {
        font-size: 2em;
    }

    .product-list {
        grid-template-columns: 1fr 1fr;
    }

    .product-input, button {
        font-size: 14px;
    }

    .product-card {
        padding: 15px;
    }

    .Price-chart {
        height: 300px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.5em;
    }

    .product-list {
        grid-template-columns: 1fr;
    }

    .product-input, button {
        font-size: 14px;
        padding: 10px;
    }

    .product-card {
        padding: 10px;
    }

    .Price-chart {
        height: 250px;
    }
}
